.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.center h4 {
  margin-bottom: 1rem;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.selection select {
  margin: auto 1rem;
  cursor: pointer;
  padding: 0.3rem;
}

.selection button {
  margin: auto 1rem;
  padding: 0.3rem;
  cursor: pointer;
}

.result {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
